
<div class="graph_container justify-content-center">
        <div >
    <h4>Overall Trainer Qualification
        </h4>
    <svg id="svg1" width="400" height="300" ></svg>
    </div>
    <div style="width: 800px !important">
    <div class="float-left" >
            <h4>Presentation skills
                </h4>
    <svg id="svg2" width="400" height="300"></svg>
    </div>
    <div class="float-left"  >
            <h4>Understanability of topic
                </h4>
    <svg id="svg3" width="400" height="300"></svg>
    </div>
    <div class="float-left"  >
            <h4>Product expertise
                </h4>
    <svg id="svg4" width="400" height="300"></svg>
    </div>
    <div class="float-left"  >
            <h4>Interaction with participants
                </h4>
    <svg id="svg5" width="400" height="300"></svg>
    </div>
    <div class="clearfix"></div>
    </div>
    </div>