<h2 mat-dialog-title>{{modalTitle}}</h2>
<mat-dialog-content>


  <div>
    <div class="container mx-auto my-3">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
          <div class="my-3 float-left col-lg-10">
            <h4 class="title">
              Create New Training
            </h4>
        
          </div>
          <div class="my-3 float-left col-lg-2">
            <mat-dialog-actions>
              <button mat-button [mat-dialog-close]="true">Yes</button>
            </mat-dialog-actions>
        
          </div>
  
        </div>
       
        <div class="my-3 float-left col-lg-12">
          <p>Training Name</p>
          <div formGroupName="training">
            <!-- <input type="text" name="training_name" id="training_name" formControlName="training_name" required> -->
            <select class="custom-select"  name="training_name" id="training_name"  formControlName="training_name">
                <option value="" disabled>Choose Training</option>
                <option *ngFor="let training of trainingList" [ngValue]="training.training">{{training.training}}</option>
                </select>
          </div>
        </div>
        <div class="my-3 float-left col-lg-12">
          <p>Trainers</p>
          <div formGroupName="trainers">
            <!-- <input type="text" name="trainer_name" id="trainer_name" formControlName="trainer_name" required> -->
  
            <select class="custom-select"  name="trainer_name" id="trainer_name"   formControlName="trainer_name">
                <option value="" disabled>Choose Trainer</option>
                <option *ngFor="let trainer of trainerList" [ngValue]="trainer.trainers">{{trainer.trainers}}</option>
                </select>
  
          </div>
        </div>
        <div class="my-3 float-left col-lg-6">
            <p>Location</p>
            <div formGroupName="location">
              <input type="text" name="location_name" id="location_name" formControlName="location_name" required>
            </div>
          </div>
          <div class="my-3 float-left col-lg-3">
              <p>From Date</p>
              <div formGroupName="sel_from_date">
                <input type="date" name="from_date" id="from_date" formControlName="from_date" required>
              </div>
            </div>
            <div class="my-3 float-left col-lg-3">
                <p>To Date</p>
                <div formGroupName="sel_to_date">
                  <input type="date" name="to_date" id="to_date" formControlName="to_date" required>
                </div>
              </div>
        <div class="my-3 float-left col-lg-12">
          <button class="btn btn-success" type="submit"> Submit </button>
        </div>
      </form>
    </div>
  </div>
  <style>
    body{
        touch-action:none;
    }
</style>
  
  <div class="stackblitz-container material">
<div class="control-section">
<div class="control-wrapper">
<div id="content">
   
    <div class="control-styles">
        <h4>Box Mode</h4>
        <select id="box"> 
        <option value="Game1">American Football</option>
        <option value="Game2">Badminton</option>
        <option value="Game3">Basketball</option>
        <option value="Game4">Cricket</option>
        <option value="Game5">Football</option>
        <option value="Game6">Golf</option>
        <option value="Game7">Hockey</option>
        <option value="Game8">Rugby</option>
        <option value="Game9">Snooker</option>
        <option value="Game10">Tennis</option>
    </select>

    </div>
</div>
</div>
</div>
</div>
</mat-dialog-content>
