
<div class="graph_container justify-content-center">
    <div >
<h4>Overall Content</h4>
<svg id="svg1" width="400" height="300" ></svg>
</div>
<div style="width: 800px !important">
<div class="float-left" >
        <h4>Quality of content</h4>
<svg id="svg2" width="400" height="300"></svg>
</div>
<div class="float-left"  >
        <h4>Value of content for you</h4>
<svg id="svg3" width="400" height="300"></svg>
</div>
<div class="float-left"  >
        <h4>Relevance of exercises</h4>
<svg id="svg4" width="400" height="300"></svg>
</div>
<div class="float-left"  >
        <h4>Logical structute</h4>
<svg id="svg5" width="400" height="300"></svg>
</div>
<div class="clearfix"></div>
</div>
</div>