table{
    width: max-content;
    text-align: center;
    margin-top:20px;
}

.download-btn{
    margin-left: 15px;
    font-weight: bold;
    position: fixed;
    top: 10px;
    right: 10px;
}

.title{
    font-size: 36px;
}

.container-fluid{
    position: relative;
    top: 0px;
    left: 0px;
    padding-top: 10px;
    background: #fff;
    z-index: 1000;
    /* border-bottom: 2px solid #00A200; */
}