/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.toolbar{
    background-color:  #4B0082;
    border-radius: 5px;
    color: white;

}

.toolbar-spacer{
    flex: 1 1 auto;
}