<div>
    <div class="container mx-auto">
      
        
        <div>
            <h4 class="title" style="text-align: center">
                Welcome to EB-Guide Feedback management system
            </h4>
        </div>
        <ul class="my-0 col-lg-6 mx-auto">
            <li> <a [routerLink]="['/createtraining']">Create Training Data</a></li>
            <li> <a [routerLink]="['/traininglist']">List of Training</a></li>
            <li> <a [routerLink]="['/list']">Feedback report</a></li>
            
            </ul>
      </div>
      
    </div>

