ul, li{
    list-style: none;
}

ul{
    margin-top: 20px;
}

li{
    margin-top: 15px;
    margin-bottom: 15px;
    /* border-bottom: 2px solid dimgray;
    padding-bottom: 15px; */
    text-align:center;
}

p{
    margin-bottom: 0px;
}

a{
    color: #00A200;
}